@mixin click {
	cursor: pointer;
	transition: opacity 0.5s;

	&:hover {
		opacity: 0.5
	}
}

.divider {
	width: 100%;
	margin: 18px 0;
}

.page {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;

	display: flex;
	flex-direction: column;
	gap: 64px;
}

.slider {
	border-radius: 12px;
	position: relative;
	width: 100%;

	&__content {
		display: flex;
		overflow: hidden;
		border-radius: 12px;
	}

	&__button {
		height: 32px;
		width: 32px;
		background-color: #fff;
		border-radius: 32px;

		background-position: center center;
		background-repeat: no-repeat;

		position: absolute;
		top: calc(50% - (32px / 2));

		&--left {
			background-image: url('/svg/arrow-left.svg');
			left: 24px;
		}

		&--right {
			background-image: url('/svg/arrow-right.svg');
			right: 24px;
		}

		@include click;
	}
}

.navigation {
	display: flex;
	justify-content: space-between;

	.nav__items {
		display: flex;
		gap: 24px;
		align-items: center
	}

	.nav__menu {
		@include click;
	}
}

.nav__item {
	font-size: 16px;
	font-weight: 400;

	text-decoration: none;
	color: #343A40;
}

.menu {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 0;

	transition: height 1s;

	&--open {
		height: 110px;
		transition: height 1s;
	}
}

.menu__items {
	display: flex;
	flex-direction: column;
	gap: 12px;
}